body {
  font-family: 'Inter', sans-serif;
}

.container {
  display: flex;
  align-items: center;
}

.logo {
  width: 150px;
  height: auto;
}

.logo-container {
  display: flex;
  align-items: center;
}

.text {
  font-size: 20px;
  margin-left: 10px;
  /* Adjust the margin as needed */
}

.text-small {
  font-size: 14px;
}

.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
}

.logo-text {
  display: flex;
  align-items: flex-start; /* Align items to the top */
}

.video-buttons {
  display: flex;
  gap: 10px;
}

.video-button {
  background-color: green;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}

.video-button:hover {
  background-color: darkgreen;
}

.switch-container {
  display: flex;
  align-items: center;
}

.switch-label {
  font-size: 14px;
  margin: 0 10px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 24px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

input:checked+.slider {
  background-color: #2196F3;
}

input:checked+.slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 24px;
}

.slider.round:before {
  border-radius: 50%;
}

